fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.button-word-cont {
	div.spinner-cont {
 		position: relative;

 		div.spinner-outer {
 			position: absolute;
 			top: 0;
 			left: 0;
 			height: 100%;
 			width: 100%;
 			visibility: hidden;

			div.spinner-inner {
				max-width: 40px;
				margin: 0 auto;
	 			height: 100%;

	 			div.rect {
	 				display: inline-block;
	 				height: 100%;
	 				width: 12%;
	 				margin-right: 10%;
	 				border-radius: 2px;
					-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
					animation: sk-stretchdelay 1.2s infinite ease-in-out;
	 			}

	 			div.rect1 {
					-webkit-animation-delay: -1.1s;
					animation-delay: -1.1s;
	 			}

	 			div.rect2 {
					-webkit-animation-delay: -1.0s;
					animation-delay: -1.0s;
	 			}
	 			div.rect3 {
					-webkit-animation-delay: -0.9s;
					animation-delay: -0.9s;
	 			}

	 			div.rect4 {
	 				margin-right: 0;
					-webkit-animation-delay: -0.8s;
					animation-delay: -0.8s;
	 			}
			}
 		}
	}

	div.spinner-cont.spinning {
		div.text {
			visibility: hidden;
		}

		div.spinner-outer {
			visibility: visible;
		}
	}
}

.button-word-cont.darkblue {
	div.rect {
		background-color: #EEEEEE;
		background-color: rgba(255, 255, 255, 0.9);
	}
}

.button-word-cont.grey {
	div.rect {
		background-color: #444444;
		background-color: rgba(0, 0, 0, 0.7);
	}
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

input.textentry {
	font-family: 'Roboto';
	-webkit-appearance: none;
	outline: none;
	border: none;
	background-color: #FFFFFF;
}

#pageWrapper {
	#div-sitecont {
		position: relative;

		div.section-cont {
			padding: 3em 16px;

			div.section-outer {
				margin: 0 auto;
				max-width: 800px;
				min-width: 300px;

				div.page-title {
					position: relative;
					font-size: 220%;
					padding-left: 2.2em;

					i {
						font-size: 180%;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}

				div.page-title.default {
					color: #666666;

					strong {
						color: #333333;
					}
				}

				div.page-title.success {
					color: #339900;

					strong {
						color: #336600;
					}
				}

				div.title {
					font-size: 160%;
					line-height: 130%;
					color: #222222;
					font-weight: bold;
					margin-bottom: 1em;
				}

				div.subtitle {
					font-size: 140%;
					line-height: 130%;
					color: #444444;
				}

				div.nextsteps-cont {
					div.heading {
						color: #666666;
						font-size: 120%;
						margin-bottom: 1em;
					}

					a.link-outer {
						display: block;
						position: relative;
						font-size: 110%;
						padding: 1.4em 1em 1.4em 4em;
						color: #3366CC;
						border-top: 1px solid #EEEEEE;

						i {
							position: absolute;
							left: 1em;
							top: 50%;
							transform: translateY(-50%);
							font-size: 170%;
						}

						i.red {
							color: #F56E44;
						}

						i.orange {
							color: #F8951D;
						}

						i.yellow {
							color: #F2DF29;
						}
					}
				}
			}
		}

		div.section-cont.grey {
			background-color: #FBFBFB;
		}

		#div-sitecont-mask {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		#div-sitecont-mask.show {
			display: block;
		}
	}
}