@import 'shared-all';
@import 'tooltips';

.button-word-cont.signout {
	color: #003182;
	background-color: #F8F8F8;
	box-shadow: 0 1px 4px 0 #444444;
}

.button-word-cont.signout:hover {
	background-color: #FFFFFF;
	box-shadow: 0 1px 4px 0 #333333;
}

@keyframes shimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.shimmer {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    position: relative;
}

#div-siteheader {
	background-color: #003182;
	box-shadow: 0 1px 2px 0 #AAAAAA;

	div.siteheader-outer {
		div.signout-cont {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 16px;
			font-size: 90%;
		}
	}
}

#pageWrapper {
	height: 100%;
	overflow: auto;

	#div-sitecont {
		background-color: rgba(0,0,0,0.02);
		padding: 2em 16px;

		div.sitecont-outer {
			margin: 0 auto;
			text-align: left;
			min-width: 300px;
			max-width: 600px;

			div.tabs-cont {
				overflow: hidden;
				padding: 4px 4px 0 4px;

				div.tab-cont {
					display: inline-block;
					box-shadow: 0 1px 2px 0 #AAAAAA;
					padding: 1em 1.8em;
					background-color: #FFFFFF;
					border-top-right-radius: 4px;
					border-top-left-radius: 4px;
				}

				div.tab-cont.unselected {
					opacity: 0.7;
					background-color: #FAFAFA;
				}

				div.tab-cont.unselected.loaded {
					cursor: pointer;
				}

				div.tab-cont.selected {
					opacity: 1;
					background-color: #FFFFFF;
				}
			}

			div.content-cont {
				padding: 0 4px;

				div.content-outer {
					position: relative;
					min-height: 380px;
					background-color: #FFFFFF;
					box-shadow: 0 1px 2px 0 #AAAAAA;

					div.add-cont {
						div.message-outer {
							div.message-inner {
								position: relative;
								padding: 0.5em 1em;
								background-color: #F56E44;
								color: #FFFFFF;
								text-align: center;

								span {
									font-size: 90%;									
								}

								i {
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									right: 4px;
									font-size: 130%;
									padding: 0.15em;
									border-radius: 999px;
								}

								i:hover, i:active {
									cursor: pointer;
									background: rgba(255, 255, 255, 0.1);
								}
							}
						}

						div.add-item-outer {
							position: relative;
							padding: 1.4em 1em 0.2em 1em;
							border-bottom: 1px solid #DDDDDD;

							div.text-cont {
								div.textentry-cont {
									border: 1px solid #DDDDDD;

									div.input-cont {
										input {
											padding: 6px;
											box-sizing: border-box;
											width: 100%;
											font-size: 120%;
											-webkit-appearance: none;
											outline: none;
											border: none;
											background: transparent;
										}
									}
								}

								div.textentry-cont.focus {
									border: 1px solid #3366CC;
								}

								div.textentry-cont.warn {
									border: 1px solid #FF3B0A;
								}
							}

							div.button-row {
								position: relative;
								margin: 0.4em 0;
								text-align: right;

								span {
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									left: 0;
									color: #3366CC;
									cursor: default;
									font-size: 80%;
								}

								.button-word-cont {
									visibility: hidden;
									opacity: 0;
									transition: visibility 0s linear 200ms, opacity 200ms ease;
									font-size: 80%;
									color: #777777;
								}
							}

							div.add-item-mask-cont {
								position: absolute;
								top: 0;
								left: 0;
								height: 100%;
								width: 100%;
								background-color: #FFFFFF;
								transition: opacity 200ms ease;

								div.add-item-mask-outer {
									position: relative;
									height: 100%;

									div.add-item-mask-inner {
										position: relative;
										top: 50%;
										transform: translateY(-50%);
										padding: 0 1em;

										div.title {
											color: #666666;
											font-size: 90%;
											line-height: 130%;
										}

										div.subtitle {
											margin-top: 0.6em;
											font-size: 80%;
										}
									}
								}
							}
						}

						div.add-item-outer.focus {
							div.button-row {
								.button-word-cont {
									visibility: visible;
									opacity: 1;
									transition: visibility 0s linear, opacity 200ms;
								}

								.button-word-cont:hover {
									cursor: pointer;
									background-color: #EEEEEE;
								}
							}
						}
					}

					#listCont {
						-webkit-tap-highlight-color: rgba(0,0,0,0);
						position: relative;

						div.domain-cont {
							background-color: #FFFFFF;
							border-bottom: 1px solid #EEEEEE;
							overflow: hidden;

							div.domain-outer {
								position: relative;
								padding: 1.2em 0;

								div.sort-cont {
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									left: 0.6em;
								}

								div.middle-cont {
									div.input-cont {
										input {
											box-sizing: border-box;
											width: 100%;
											padding: 6px;
											-webkit-appearance: none;
											outline: none;
											border: none;
											background: transparent;
											color: #333333;
											border: 1px solid transparent;
										}
									}

									div.input-cont.warn {
										input {
											border: 1px solid #FF3B0A;
										}
									}

									div.key-cont {
										padding: 0 7px;

										span {
											display: inline-block;
										}

										span.label {
											padding: 3px 4px 3px 0;
											color: #666666;
										}

										span.shimmer {
											border-radius: 3px;
											width: 20em;
										}

										span.key {
											padding: 3px 4px;
											color: #339933;
											border-radius: 3px;
											//@@
										}

										span.key.default {
											background: rgba(0,0,0,0);
											transition: background 800ms ease;
										}

										span.key.copying {
											background: rgba(0,0,0,0.05);
										}

										span.copy-outer {
											color: #3366CC;
											border-radius: 999px;
											cursor: pointer;
										}

										span.copy-outer:hover, span.copy-outer:active {
											background: rgba(0,0,0,0.03);
										}
									}
								}

								div.delete-cont {
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									right: 0.6em;
								}

								div.mask-cont {
									display: none;
									position: absolute;
									top: 0;
									left: 0;
									height: 100%;
									width: 100%;
									background-color: rgba(252, 13, 27, 1);

									div.mask-outer {
										position: relative;
										height: 100%;

										div.label {
											position: absolute;
											right: 12px;
											top: 50%;
											transform: translateY(-50%);
											font-size: 95%;
											color: #FFFFFF;
										}
									}
								}
							}
						}

						div.domain-cont.left-item-active, div.domain-cont.deleting {
							div.domain-outer {
								div.mask-cont {
									display: block;
								}
							}
						}

						div.emptymsg-cont {
							position: absolute;
							top: 2.6em;
							left: 0;
							width: 100%;
							text-align: center;

							div.icon-cont {
								i {
									font-size: 500%;
									color: #EEEEEE;			
								}
							}

							div.msg-cont {
								margin: 1.4em 22% 0 22%;

								div.msg-outer {
									font-size: 120%;
									line-height: 140%;
									color: #333333;			
								}
							}

							div.submsg-cont {
								margin: 0.6em 22% 0 22%;

								div.submsg-outer {
									font-size: 85%;
									line-height: 140%;
									color: #AAAAAA;
								}
							}
						}
					}

					#listCont.sort-list {
						  -webkit-touch-callout: none; /* iOS Safari */
						    -webkit-user-select: none; /* Safari */
						     -khtml-user-select: none; /* Konqueror HTML */
						       -moz-user-select: none; /* Firefox */
						        -ms-user-select: none; /* Internet Explorer/Edge */
						            user-select: none;
					}

					#listCont.left-list {
						overflow-x: hidden;
					}

					div.contact-cont {
						p {
							margin: 0;
						}
					}

					div.content-mask {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
					}
				}
			}
		}		
	}
}

#pageWrapper.xl, #pageWrapper.lg, #pageWrapper.md, #pageWrapper.sm {
	div.add-item-outer {
		div.button-row {
			span.large {
				display: inline;
			}

			span.small {
				display: none;
			}
		}
	}

	div.domain-cont {
		div.domain-outer {
			div.middle-cont {
				margin: 0 2.8em;

				div.input-cont {
					input {
						font-size: 130%;
					}
				}

				div.key-cont {
					font-size: 80%;

					span.label {
						// padding: 3px 4px 3px 0;
					}

					span.key {
						// padding: 3px 4px;
					}

					span.copy-outer {
						visibility: hidden;
						font-size: 90%;
						padding: 3px 4px;
					}
				}
			}
		}

		i.button {
			visibility: hidden;
			padding: 0.6em;
			border-radius: 999px;
		}
	}

	div.domain-cont:hover {
		div.domain-outer {
			div.middle-cont {
				div.key-cont {
					span.copy-outer {
						visibility: visible;
					}
				}								
			}							
		}

		i.button {
			visibility: visible;
		}

		i.button:hover {
			cursor: pointer;
			background: rgba(0,0,0, 0.03);
			font-weight: bold;
		}
	}
}

#pageWrapper.xs {
	div.add-item-outer {
		div.button-row {
			span.large {
				display: none;
			}

			span.small {
				display: inline;
			}
		}
	}

	div.domain-cont {
		div.domain-outer {
			div.sort-cont {
				display: none;
			}

			div.middle-cont {
				margin: 0 1em;

				div.input-cont {
					input {
						font-size: 140%;
					}
				}

				div.key-cont {
					margin-top: 2px;

					span.label {
						// padding: 3px 4px 3px 0;
					}

					span.key {
						// padding: 3px 4px;
						max-width: 9em;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					span.copy-cont {
						position: relative;
						margin-left: 0.4em;

						span.copy-outer {
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							font-size: 150%;
							padding: 8px;
						}
					}
				}
			}

			div.delete-cont {
				display: none;
			}
		}
	}
}

#div-mainmsg-cont {
	position: fixed;
	left: 5%;
	background-color: #222222;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 #CCCCCC;
	max-width: 90%;
	z-index: 4;
	transition: bottom 300ms ease;

	div.mainmsg-outer {
		margin: 1.2em 1.4em;
		position: relative;

		div.mainmsg-inner {
			position: relative;
			font-size: 90%;
			margin-right: 36px;

			td.left {
				color: #EEEEEE;
				padding-right: 2em;
			}

			.button-word-cont.mainmsg {
				color: #99CCFF;
				background-color: rgba(255, 255, 255, 0.1);
			}

			.button-word-cont.mainmsg:hover {
				cursor: pointer;
				background-color: rgba(255, 255, 255, 0.15);
			}

			.button-word-cont.mainmsg.dummy {
				visibility: hidden;
			}
		}

		i {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			font-size: 130%;
			padding: 0.2em;
			border-radius: 999px;
			color: #EEEEEE;
		}

		i:hover, i:active {
			cursor: pointer;
			background: rgba(255, 255, 255, 0.1);
		} 
	}
}

#div-mainmsg-cont.isup {
	bottom: 28px;
}

#div-mainmsg-cont.isdown {
	bottom: -120px;
}


// trans - message
div.message-trans-exit {
	opacity: 1;
}

div.message-trans-exit.message-trans-exit-active {
	opacity: 0;
	transition: opacity 200ms ease;
}


// trans - add item mask
div.add-item-mask-trans-enter {
	opacity: 0;
}

div.add-item-mask-trans-enter.add-item-mask-trans-enter-active {
	opacity: 1;
}

div.add-item-mask-trans-exit {
	opacity: 1;
}

div.add-item-mask-trans-exit.add-item-mask-trans-exit-active {
	opacity: 0;
}

// trans - domains
div.domains-trans-enter {
	display: none;
	max-height: 0;
}

div.domains-trans-enter.domains-trans-enter-active {
	max-height: 100000px;
	transition: max-height 200ms linear 200ms;
}

div.domains-trans-exit {
	opacity: 1;
}

div.domains-trans-exit.domains-trans-exit-active {
	opacity: 0;
	transition: opacity 200ms ease;
}

// trans - domain
div.domain-trans-appear, div.domain-trans-enter {
 	opacity: 0.01;
}

div.domain-trans-appear.domain-trans-appear-active, div.domain-trans-enter.domain-trans-enter-active {
	opacity: 1;
	transition: opacity 200ms ease-in;
}

div.domain-trans-exit {
	max-height: 5em;
}

div.domain-trans-exit.domain-trans-exit-active {
	max-height: 0;
	transition: max-height 200ms ease-in;
}

// trans - account
div.account-trans-enter {
	display: none;
	max-height: 0;
}

div.account-trans-enter.account-trans-enter-active {
	max-height: 100000px;
	transition: max-height 200ms linear 200ms;
}

div.account-trans-exit {
	opacity: 1;
}

div.account-trans-exit.account-trans-exit-active {
	opacity: 0;
	transition: opacity 200ms ease;
}

// trans - emptymsg
div.emptymsg-trans-enter {
	opacity: 0;
	transition: opacity 400ms ease 200ms;
}

div.emptymsg-trans-enter.emptymsg-trans-enter-active {
	opacity: 1;
}

div.emptymsg-trans-exit {
	opacity: 1;
	transition: opacity 200ms ease;
}

div.emptymsg-trans-exit.emptymsg-trans-exit-active {
	opacity: 0;
}