@import 'shared-all';

.button-word-cont.signout {
	color: #003182;
	background-color: #F8F8F8;
	box-shadow: 0 1px 4px 0 #444444;
}

.button-word-cont.signout:hover {
	background-color: #FFFFFF;
	box-shadow: 0 1px 4px 0 #333333;
}

#div-siteheader {
	background-color: #003182;
	box-shadow: 0 1px 2px 0 #AAAAAA;

	div.siteheader-outer {
		div.signout-cont {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 16px;
			font-size: 90%;
		}
	}
}

#pageWrapper {
	height: 100%;
	overflow: auto;

	#div-sitecont {
		background-color: rgba(0,0,0,0.02);
		padding: 2em 16px;

		div.sitecont-outer {
			margin: 0 auto;
			text-align: left;
			min-width: 300px;
			max-width: 600px;

			div.tabs-cont {
				overflow: hidden;
				padding: 4px 4px 0 4px;

				div.tab-cont {
					display: inline-block;
					box-shadow: 0 1px 2px 0 #AAAAAA;
					padding: 1em 1.8em;
					background-color: #FFFFFF;
					border-top-right-radius: 4px;
					border-top-left-radius: 4px;
				}

				div.tab-cont.unselected {
					opacity: 0.7;
					background-color: #FAFAFA;
				}

				div.tab-cont.unselected.loaded {
					cursor: pointer;
				}

				div.tab-cont.selected {
					opacity: 1;
					background-color: #FFFFFF;
				}
			}

			div.content-cont {
				padding: 0 4px;

				div.content-outer {
					min-height: 380px;
					background-color: #FFFFFF;
					box-shadow: 0 1px 2px 0 #AAAAAA;

					div.add-cont {
						div.message-outer {


							div.message-inner {
								position: relative;
								padding: 0.5em 1em;
								background-color: #F56E44;
								color: #FFFFFF;
								text-align: center;

								span {
									font-size: 90%;									
								}

								i {
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									right: 4px;
									font-size: 130%;
									padding: 0.15em;
									border-radius: 999px;
								}

								i:hover, i:active {
									cursor: pointer;
									background: rgba(255, 255, 255, 0.1);
								}
							}
						}
						

						div.add-item-outer {
							position: relative;
							padding: 1em 1em 0 1em;
							border-bottom: 1px solid #DDDDDD;

							div.text-cont {
								div.textentry-cont {
									border: 1px solid #DDDDDD;

									div.input-cont {
										input.textentry {
											padding: 0.4em;
											box-sizing: border-box;
											width: 100%;
											font-size: 110%;
											-webkit-appearance: none;
											outline: none;
											border: none;
											background: transparent;
										}
									}
								}

								div.textentry-cont.focus {
									border: 1px solid #3366CC;
								}
							}

							div.button-row {
								position: relative;
								margin: 0.4em 0;
								text-align: right;

								span {
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									left: 0;
									color: #3366CC;
									cursor: pointer;
									font-size: 80%;
								}

								.button-word-cont {
									font-size: 80%;
									color: #777777;
								}

								.button-word-cont:hover {
									cursor: pointer;
									background-color: #EEEEEE;
								}
							}

							div.add-item-mask-cont {
								position: absolute;
								top: 0;
								left: 0;
								height: 100%;
								width: 100%;
								background-color: rgba(255,255,255,0.9);

								div.add-item-mask-outer {
									position: relative;
									height: 100%;

									div.add-item-mask-inner {
										position: relative;
										top: 50%;
										transform: translateY(-50%);
										padding: 0 1em;

										div.title {
											color: #339933;
											font-size: 90%;
											line-height: 130%;
										}

										div.subtitle {
											margin-top: 0.6em;
											font-size: 80%;
										}
									}



								}
							}
						}
					}
				}
			}
		}		
	}
}



// trans - message
div.message-trans-exit {
	opacity: 1;
}

div.message-trans-exit.message-trans-exit-active {
	opacity: 0;
	transition: opacity 200ms ease;
}


// trans - add item mask
div.add-item-mask-trans-enter {
	display: none;
	max-height: 0;
}

div.add-item-mask-trans-enter.add-item-mask-trans-enter-active {
	max-height: 100000px;
	transition: max-height 200ms linear 200ms;
}


// trans - domains
div.domains-trans-enter {
	display: none;
	max-height: 0;
}

div.domains-trans-enter.domains-trans-enter-active {
	max-height: 100000px;
	transition: max-height 200ms linear 200ms;
}

div.domains-trans-exit {
	opacity: 1;
}

div.domains-trans-exit.domains-trans-exit-active {
	opacity: 0;
	transition: opacity 200ms ease;
}

// trans - account
div.account-trans-enter {
	display: none;
	max-height: 0;
}

div.account-trans-enter.account-trans-enter-active {
	max-height: 100000px;
	transition: max-height 200ms linear 200ms;
}

div.account-trans-exit {
	opacity: 1;
}

div.account-trans-exit.account-trans-exit-active {
	opacity: 0;
	transition: opacity 200ms ease;
}
