@import 'shared-all';
@import 'shared-all-except-home';

div.sitecont-outer {
	position: relative;	
}

div.toc-cont {
	div.toc-outer {
		margin: 0 1.4em;

		div.title-main {
			font-weight: bold;
			font-size: 110%;
			color: #222222;
			padding: 0.4em 0;
			margin-bottom: 0.8em;
			border-bottom: 1px solid #EEEEEE;
		}

		div.subtitle-main {
			font-size: 110%;
			color: #666666;
			margin-bottom: 1em;
		}

		.button-word-cont {
			display: block;
			text-align: left;
			margin: 0.2em 0;
		}

		div.button-word-cont {
			color: #777777;
		}

		div.button-word-cont.selected {
			color: #222222;
			background-color: #EEEEEE;
		}

		a.button-word-cont:hover {
			background-color: #F8F8F8;
		}
	}
}

div.details-cont {
	
	div.details-outer {
		margin: 0 1.4em;

		div.title-main {
			font-size: 180%;
			color: #222222;
			padding: 0.4em 0;
			margin-bottom: 0.8em;
			border-bottom: 1px solid #EEEEEE;
		}

		div.subtitle-main {
			font-size: 110%;
			color: #666666;
			margin-bottom: 1em;
		}

		div.pagelinks {
			padding-bottom: 1em;
			border-bottom: 1px solid #EEEEEE;
			margin-bottom: 2em;

			a.button-word-cont:hover {
				background-color: #F8F8F8;
			}
		}

		div.section-cont {
			padding: 1.6em 0;

			.title-section {
				font-size: 140%;
				font-weight: bold;
				color: #222222;
				margin-bottom: 1em;
			}

			div.subsection-links {
				border-top: 1px solid #EEEEEE;
				border-bottom: 1px solid #EEEEEE;
				padding: 0.6em 0;
				font-size: 90%;
				margin-bottom: 2em;

				a.button-word-cont {
					color: #3399FF;
				}

				a.button-word-cont:hover {
					background-color: #F8F8F8;
				}
			}

			a.title-section {
				display: block;
			}

			a.title-section:hover {
				text-decoration: none;
			}

			div.subsection-cont {
				margin: 2em 0 4em 2em;
			}

			.title-subsection {
				font-size: 110%;
				font-weight: bold;
				color: #444444;
				margin-bottom: 1em;
			}

			a.title-subsection {
				display: block;
			}

			a.title-subsection:hover {
				text-decoration: none;
			}

			div.params-cont {
				padding-left: 3em;
				font-size: 90%;
				color: #555555;
				line-height: 130%;
				margin-bottom: 2em;

				div.param {
					margin: 0.4em 0;
				}
			}

			div.title-codeblock {
				font-size: 90%;
				font-weight: lighter;
				color: #777777;
				margin-top: 2em;
			}

			div.diag-cont {
				margin: 2em 0;
			}

			p {
				color: #444444;
				line-height: 130%;
			}
		}
	}
}

#div-body.xl, #div-body.lg, #div-body.md, #div-body.sm {
	div.toc-cont {
		position: absolute;
		left: 0;
		top: 0;
		width: 360px;
		height: 100%;
		overflow: auto;
	}

	div.details-cont {
		border-left: 1px solid #EEEEEE;
		min-height: 40em;
		margin-left: 360px;
	}
}

#div-body.xs {
	div.toc-cont {
		border-bottom: 1px solid #EEEEEE;
		margin-bottom: 2em;
	}
}

#ul-html-structure {
	list-style-type: disc;

	li {
		padding: 0.2em 0;
	}
}

span.outer-cont {
	color: red;
}

span.list-cont {
	color: blue;
}

span.list-items {
	color: green;
}

#div-diag-outer-cont {
	margin: 0 auto;
	min-width: 200px;
	max-width: 400px;
	border: 10px solid red;
	height: 400px;
	overflow: auto;

	#div-diag-list-cont {
		margin: 1em;
		border: 10px solid blue;
		position: relative;

		div.list-item {
			margin: 1em;
			padding: 1em 0;
			background-color: #FFFFFF;
			border: 5px solid green;
			color: green;
			text-align: center;
		}
	}

	#div-diag-list-cont.left-list, #div-diag-list-cont.right-list {
		overflow-x: hidden;
	}
}