@import 'shared-all';
@import 'shared-all-except-home';
@import 'toc-details';

div.details-cont {
	div.details-outer {
		div.subtitle-main {
			font-size: 110%;
			color: #666666;
			margin-bottom: 1em;
		}

		div.pagelinks {
			padding-bottom: 1em;
			border-bottom: 1px solid #EEEEEE;
			margin-bottom: 2em;

			a.button-word-cont {
				width: 13em;
				text-align: left;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			a.button-word-cont:hover {
				background-color: #F8F8F8;
			}
		}

		div.section-cont {
			padding: 1.6em 0;

			.title-section {
				font-size: 140%;
				font-weight: bold;
				color: #222222;
				margin-bottom: 1em;
			}

			a.title-section {
				display: block;
			}

			a.title-section:hover {
				text-decoration: none;
			}

			div.function {
				color: #555555;
				font-weight: bold;
				margin: 1.6em 0 1em 0;
				padding-left: 2em;
			}

			div.params-cont {
				padding-left: 3em;
				font-size: 90%;
				color: #555555;
				line-height: 130%;
				margin-bottom: 2em;

				div.param {
					margin: 0.4em 0;
				}

				div.sub-params-cont {
					padding-left: 3em;

					div.sub-param {
						margin: 0.2em 0;
					}
				}
			}

			div.title-codeblock {
				font-size: 90%;
				font-weight: lighter;
				color: #777777;
				margin-top: 2em;
			}

			div.diag-cont {
				margin: 2em auto;
				min-width: 250px;

				div.diag-options-cont {
					font-size: 80%;

					div.label {
						margin: 1em 0 0.2em 0;
						color: #444444;
					}

					div.option {
						select {
							max-width: 100%;
						}
					}
				}
			}

			p {
				color: #444444;
				line-height: 130%;
			}

			p.image-licence-key {
				img {
					box-shadow: 0 5px 14px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.12);
				}
			}

			div.related-cont {
				margin: 2em 0 2em 2em;
				
				div.title-related {
					font-weight: bold;
					color: #666666;
					margin-bottom: 0.4em;
				}

				div.related-links {
					font-size: 90%;

					a.button-word-cont {
						color: #3399FF;
					}

					a.button-word-cont:hover {
						background-color: #F8F8F8;
					}
				}
			}
		}

		div.nextpage-cont {
			margin: 1em 0;
			text-align: right;
			font-size: 120%;

			a.button-word-cont {
				font-weight: normal;
			}

			a.button-word-cont:hover {
				background-color: #F8F8F8;
			}
		}
	}
}

#pageWrapper.xl, #pageWrapper.lg, #pageWrapper.md, #pageWrapper.sm {
	p.image-licence-key {
		img.small {
			display: none;
		}
	}
}

#pageWrapper.xs {
	p.image-licence-key {
		text-align: center;
		
		img.large {
			display: none;
		}
	}
}

#ul-html-structure {
	list-style-type: disc;

	li {
		padding: 0.2em 0;
	}
}

span.outer-cont {
	color: red;
}

span.list-cont {
	color: blue;
}

span.list-items {
	color: green;
}

div.diag-outer-cont {
	overflow: auto;

	div.diag-list-cont {
		position: relative;

		div.list-item {
			div.inner {
	            position: relative;
	            margin: 0 0.2em;

				i {
		            position: absolute;
		            top: 50%;
		            transform: translateY(-50%);
		            display: inline-block;
		            font-weight: bold;
		            padding: 0.5em;
		            border-radius: 999px;
		            color: #777777;
				}

				i:hover, i:active {
					cursor: pointer;
					background: rgba(0, 0, 0, 0.06);
				}

				i.sort, i.archive {
					left: 0;
				}

				i.delete {
					right: 0;
				}

				div.text {
		            margin: 0 4.6em;
		            text-align: center;
				}
			}
		}
	}

	div.diag-list-cont.left-list, div.diag-list-cont.right-list {
		overflow-x: hidden;
	}
}

#div-diag-container-setup {
	max-width: 400px;

	#div-diag-outer-cont-setup {
		border: 10px solid red;
		height: 400px;

		#div-diag-list-cont-setup {
			margin: 1em;
			border: 10px solid blue;

			div.list-item {
				margin: 1em;
				padding: 1em 0;
				background-color: #FFFFFF;
				border: 5px solid green;
				color: green;
				text-align: center;
			}
		}
	}
}