@import 'shared-all';
@import 'shared-all-except-home';
@import 'toc-details';

#div-diag {
	min-width: 240px;
	max-width: 400px;
	margin: 0 auto;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	div.button-top {
		position: relative;
		text-align: right;
		font-size: 90%;
		margin-bottom: 0.4em;

		a:hover, a:active {
			cursor: pointer;
		}

		div.header-middle {
			margin: 0 3em;
			text-align: center;
		}

		a.trigger {
			position: absolute;
			bottom: 0;
			font-size: 120%;
		}

		a.trigger:hover {
			text-decoration: none;
			font-weight: bold;
		}

		a.trigger.left {
			left: 0;
		}

		a.trigger.right {
			right: 0;
		}

	}
}

div.section-cont {
	div.title-codeblock {
		font-size: 90%;
		font-weight: lighter;
		color: #777777;
		margin-top: 2em;
	}
}

.outerCont {
	border: 1px solid #777777;

	.listCont {
		position: relative;

		.listItem {
			padding: 1.4em;
			background-color: #FFFFFF;
			border-bottom: 1px solid #DDDDDD;
		}
	}
}

#outerCont-super-simple {
	height: 300px;
	overflow: auto;
}

#outerCont-full-page-scrolling {
	#listCont-full-page-scrolling.left-list, #listCont-full-page-scrolling.right-list, {
		overflow-x: hidden;
	}
}

#outerCont-on-sort-end {
	height: 300px;
	overflow: auto;
}

#outerCont-buttons {
	height: 300px;
	overflow: auto;

	#listCont-buttons {
		.listItem {
			.innerCont {
				position: relative;
				text-align: center;

				i {
					position: absolute;
					bottom: 0;
				}

				i:hover, i:active {
					cursor: pointer;
					font-weight: bold;
				}

				i.icon-grab-ui {
					left: 0;
				}

				i.icon-arrow-right-circle {
					left: 2em;
				}

				i.icon-arrow-left-circle {
					right: 0;
				}
			}
		}
	}
}

#outerCont-on-sort-end {
	height: 300px;
	overflow: auto;
}

#outerCont-background-labels {
	height: 300px;
	overflow: auto;

	#listCont-background-labels {
		.mask {
			div {
				position: relative;
				width: 100%;
				height: 100%;

				span {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					color: white;
				}

				span.left {
					right: 0.6em;
				}

				span.right {
					left: 0.6em;
				}
			}
		}
	}
}


#outerCont-no-masks {
	height: 300px;
	overflow: auto;

	#listCont-no-masks {
		.listItem {
			position: relative;

			.innerMask {
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				box-shadow: inset 0 0 4px rgba(0,0,0,0.8);
			}
		}

		.listItem.left-item-active .innerMask.left {
			display: block;
			background-color: red;
		}

		.listItem.right-item-active .innerMask.right {
			display: block;
			background-color: green;
		}
	}
}

#outerCont-delete-item {
	height: 300px;
	overflow: auto;

	#listCont-delete-item {
		.listItem {
			position: relative;
			max-height: 4em;

			.innerCont {
				position: relative;

				i {
					position: absolute;
					bottom: 0;
				}

				i:hover, i:active {
					cursor: pointer;
					font-weight: bold;
				}

				i.icon-trash {
					right: 0;
				}
			}

			.innerMask {
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				box-shadow: inset 0 0 4px rgba(0,0,0,0.8);
				background-color: red;
			}
		}

		.listItem.left-item-active .innerMask, .listItem.deleting .innerMask {
			display: block;
		}

		.listItem.deleting {
			transition: max-height 200ms ease;
			max-height: 0;
		}
	}
}

#outerCont-detach-from-list {
	height: 300px;
	overflow: auto;
}

#outerCont-set-list-properties {
	height: 300px;
	overflow: auto;
}


#outerCont-trigger-leftandright {
	height: 300px;
	overflow: auto;
}
