@import 'shared-all';

.button-word-cont.hlink {
	color: #F8F8F8;
}

.button-word-cont.hlink:hover {
	background: rgba(255, 255, 255, 0.1);
}

.button-word-cont.auth {
	color: #003182;
	background-color: #F8F8F8;
	box-shadow: 0 1px 4px 0 #444444;
}

.button-word-cont.auth:hover {
	background-color: #FFFFFF;
	box-shadow: 0 1px 4px 0 #333333;
}

a.menubtn {
	color: #F8F8F8;
}

a.menubtn:active {
	background: rgba(255, 255, 255, 0.06);
}

#div-siteheader {
	background-color: #003182;
	box-shadow: 0 1px 2px 0 #AAAAAA;
}

#div-pagemenu-cont {
	background-color: #003182;

	div.menu-outer {
		div.menuclose-cont {
			color: #F8F8F8;
		}

		div.links-cont {
			a.hlink {
				background: rgba(255, 255, 255, 0.025);
			}
		}
	}
}

#pageWrapper {
	#div-title {
		line-height: 130%;
		color: #222222;
	}

	#div-subtitle {
		line-height: 130%;
		color: #555555;
	}

	#div-getstarted {
		a.button-word-cont {
			margin-top: 1.4em;
		}
	}

	#div-ptable {
		position: relative;
		max-width: 500px;
		margin: 0 auto;
		height: 350px;
		overflow: auto;

		#div-list-cont {
			position: relative;
			border-top: 0.1px solid transparent;

			div.listitem-cont {
				div.listitem-outer {
					position: relative;

					div.text span {
						display: inline-block;
						font-weight: bold;
						width: 1.6em;
						margin: 0 0.6em;
					}
				}
			}

			div.listitem-cont.othernonmetal {
				background-color: #F56E44;
			}

			div.listitem-cont.noblegas {
				background-color: #F8951D;
			}

			div.listitem-cont.alkali {
				background-color: #F2DF29;
			}

			div.listitem-cont.alkaline {
				background-color: #C6C848;
			}

			div.listitem-cont.metalloid {
				background-color: #B0CD9D;
			}

			div.listitem-cont.posttransition {
				background-color: #A3DAD2;
			}

			div.listitem-cont.transition {
				background-color: #A2A18E;
			}

			div.listitem-cont.lanthanoid {
				background-color: #C9B481;
			}

			div.listitem-cont.actinoid {
				background-color: #FBB5B0;
			}

			div.left-mask, div.right-mask {
				div.label-cont {
					position: relative;
					height: 100%;

					span {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						color: #F8F8F8;
					}
				}
			}

			div.left-mask {
				div.label-cont {
					span {
						right: 0.4em;
					}
				}
			}

			div.right-mask {
				div.label-cont {
					span {
						left: 0.4em;
					}
				}
			}
		}

		#div-list-cont.left-list, #div-list-cont.right-list {
			overflow-x: hidden;	// recommended to allow left/right shadow when scrolling but hide clone when swiping left/right
		}

		#div-refresh-cont {
			display: none;
		}

		#div-refresh-cont.show {
			display: block;
		}
	}

	div.section-cont {
		div.section-outer {
			margin: 0 auto;
			max-width: 800px;
			min-width: 300px;

			div.details {
				div.title {
					line-height: 130%;
					color: #222222;
					font-weight: bold;
				}

				div.description {
					line-height: 140%;
					color: #999999;

					a.button-word-cont {
						font-size: 85%;
						background-color: #EEEEEE;
						box-shadow: 0 1px 4px 0 #CCCCCC;
					}

					a.button-word-cont:hover {
						background-color: #F2F2F2;
						box-shadow: 0 1px 4px 0 #BBBBBB;
					}
				}			
			}
		}
	}

	div.section-cont.grey {
		background-color: #FBFBFB;
	}

	div.pagetitle-cont {
		background-image: url('../images/greytriangle-top.jpg');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100% auto;
	}

	div.list-cont {
		background-color: #EEEEEE;
	}

	div.whytitle-cont {
		background-image: url('../images/greytriangle-btm.jpg');
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 100% auto;

		div.whytitle {
			font-size: 180%;
			font-weight: bold;
			color: #222222;
		}
	}
}

#pageWrapper.xl, #pageWrapper.lg, #pageWrapper.md, #pageWrapper.sm {
	#div-title {
		font-size: 220%;
	}

	#div-subtitle {
		font-size: 150%;
	}

	div.pagetitle-cont {
		padding: 40px 16px 120px 16px;
	}

	div.list-cont {
		padding: 40px 16px;
	}

	div.whytitle-cont {
		padding: 100px 16px 20px 16px;
	}

	div.whyrow-cont {
		padding: 60px 16px;

		div.whyrow-outer {
			position: relative;

			div.image {
				position: absolute;
				top: 0;
				height: 200px;
				width: 200px;

				img.large {
					display: inline;
				}

				img.small {
					display: none;
				}
			}

			div.details {
				min-height: 200px;

				div.title {
					font-size: 160%;
				}

				div.description {
					font-size: 110%;
				}			
			}
		}
	}

	div.whyrow-cont.left {
		div.whyrow-outer {
			div.image {
				left: 0;
			}

			div.details {
				margin-left: 220px;
			}
		}
	}

	div.whyrow-cont.right {
		div.whyrow-outer {
			div.image {
				right: 0;
			}

			div.details {
				margin-right: 220px;
			}
		}
	}

	div.listitem-cont {
		padding: 1.8em 0;

		div.listitem-outer {
			margin: 0 0.8em;

			i {
				display: inline-block;
				padding: 0.5em;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				border-radius: 999px;
				color: #666666;
			}

			i:hover {
				cursor: pointer;
				background: rgba(0, 0, 0, 0.06);
			}

			i.sort {
				left : 0;
			}

			i.delete {
				right : 0;
			}

			div.text {
				margin: 0 2em 0 2em;
			}
		}
	}

	div.listitem-cont.lithium {
		padding-top: 2.4em;
		padding-bottom: 2.4em;
	}

	div.listitem-cont:hover {
		div.listitem-outer {
			i {
				color: #000000;
			}
		}
	}
}

#pageWrapper.xs {
	#div-title {
		font-size: 150%;
	}

	#div-subtitle {
		font-size: 120%;
	}

	div.list-cont {
		padding: 60px 16px;
	}

	div.pagetitle-cont {
		padding: 40px 16px 60px 16px;
	}

	div.whytitle-cont {
		padding: 80px 16px 20px 16px;
	}

	div.whyrow-cont {
		padding: 40px 16px;

		div.whyrow-outer {
			div.image {
				height: 150px;
				margin-bottom: 1.4em;

				img.large {
					display: none;
				}

				img.small {
					display: inline;
				}
			}

			div.details {
				div.title {
					font-size: 140%;
				}

				div.description {
					font-size: 100%;
				}			
			}
		}
	}

	div.listitem-cont {
		padding: 1.4em 1em;

		div.listitem-outer {
			i {
				display: none;
			}
		}
	}

	div.listitem-cont.lithium {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}