@import 'shared-all';
@import 'shared-all-except-home';
@import 'sales-all';
@import 'tooltips';

div.pricing-cont {
	div.pricing-outer {
		margin: 0 auto;
		padding: 2em 0;
		max-width: 800px;
		min-width: 300px;

		table {
			width: 100%;

			td {
				padding: 18px 12px;

				a.button-word-cont.green {
					background-color: #33CC66;
					color: #FFFFFF;
					box-shadow: 0 1px 4px 0 #CCCCCC;
				}

				a.button-word-cont.green:hover {
					cursor: pointer;
					background-color: #34D168;
					box-shadow: 0 1px 4px 0 #BBBBBB;
				}

				span.tt-click {
					color: #3366CC;
				}
			}

			td {
				padding: 18px 12px;
			}

			td.line {
				border-top: 1px solid #EEEEEE;
			}

			td.name, td.price, td.button, td.detail {
				text-align: center;
			}

			td.name {
				color: #222222;
				font-size: 110%;
				font-weight: bold;
			}

			td.price {
				color: #222222;
				font-weight: bold;
			}

			td.label {
				color: #444444;
			}

			td.detail {
				color: #444444;

				i.icon-check-ui {
					font-size: 140%;
					font-weight: bold;
					color: #339933;
				}

				span.neg {
					color: #AAAAAA;
				}
			}
		}
	}
}

div.pricing-cont.grey {
	background-color: #FBFBFB;
}

#pageWrapper.xl, #pageWrapper.lg, #pageWrapper.md, #pageWrapper.sm {
	div.pricing-cont.large {
		display: block;
	}

	div.pricing-cont.small {
		display: none;
	}

	td.price {
		font-size: 160%;
	}

	td.button {
		font-size: 90%;
	}
}

#pageWrapper.xs {
	div.pricing-cont.large {
		display: none;
	}

	div.pricing-cont.small {
		display: block;
	}

	td.price {
		font-size: 200%;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	td.button {
		font-size: 120%;
		padding-bottom: 28px;
	}
}

div.subscript-cont {
	div.subscript-outer {
		padding: 0 16px;
		margin: 0 auto;
		max-width: 800px;
		min-width: 300px;
		font-size: 90%;
		color: #333333;
	}
}