@import 'shared-all';
@import 'auth';

div.signup-row {
	div.signup-dataentry {
		input.textentry {
			font-size: 100%;
			box-sizing: border-box;
			width: 100%;
			padding: 0.6em 0.4em;
			border: 1px solid #DDDDDD;
		}

		input.textentry.left {
			float: left;
			width: 49%;
		}

		input.textentry.right {
			float: left;
			margin-left: 2%;
			width: 49%;
		}

		input.textentry.error {
			border: 1px solid #FF3B0A;
		}

		input.textentry.focus {
			border: 1px solid #3366CC;
		}

		select {
			font-size: 100%;
			padding: 0.6em 0.4em;
			border: 1px solid #DDDDDD;
			max-width: 300px;
		}

		select.error {
			border: 1px solid #FF3B0A;
		}

		img.payment {
			margin-right: 4px;
		}
	}

	div.hosted-field {
		height: 50px;
		box-sizing: border-box;
		padding: 0.2em 0.6em;
		display: inline-block;
		box-shadow: none;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		background-color: #FFFFFF;
		border: 1px solid #DDDDDD;
	}

	div.hosted-field.error {
		border: 1px solid #FF3B0A;
	}

	div.hosted-field.focus {
		border: 1px solid #3366CC;
	}

	#div-payment-number {
		width: 100%;
	}

	#div-payment-expirationDate {
		width: 120px;
	}

	#div-payment-cvv {
		width: 90px;
	}

	div.submsg-cont {
		margin: 0.3em 0;
		font-size: 85%;
		line-height: 130%;
		height: 3em;
		overflow: hidden;
		color: #777777;
	}

	div.submsg-cont.error {
		font-weight: bold;
		color: #FF3B0A;
	}

	div.submsg-cont.error.right {
		text-align: right;
	}

	div.signup-address {
		padding: 0.6em;
		height: 4em;
		max-width: 300px;

		p {
			margin: 0.2em 0;
			color: #444444;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		p.empty {
			border-radius: 4px;
			background-color: #F4F4F4;
		}

		p.company.empty {
			display: none;
		}
	}

	div.signup-orderdetails {
		table {
			width: 100%;

			td {
				padding: 0.6em;
				color: #444444;
			}

			td.border-top {
				border-top: 1px solid #777777;
			}

			td.border-btm {
				border-bottom: 1px solid #777777;
			}

			td.col-mdl {
				width: 40%;
			}

			td.col-right {
				width: 10%;
				text-align: right;
			}
		}
	}

	div.signup-buttons {
		margin: 0.4em 0;

		.button-word-cont {
			font-size: 80%;
		}
	}

	div.signup-terms {
		table {
			border: 1px solid transparent;

			td { 
				vertical-align: top;
			}

			td.checkbox {
				padding-right: 0.4em;

				input {
					transform: scale(1.2);
				}
			}
		}
	}
}