div.sitecont-outer {
	position: relative;	
}

div.toc-cont {
	div.toc-outer {
		margin: 0 1.4em;

		div.title-main {
			font-weight: bold;
			font-size: 110%;
			color: #222222;
			padding: 0.4em 0;
			margin-bottom: 0.8em;
			border-bottom: 1px solid #EEEEEE;
		}

		div.subtitle-main {
			font-size: 110%;
			color: #666666;
			margin-bottom: 1em;
		}

		.button-word-cont {
			display: block;
			text-align: left;
			margin: 0.2em 0;
		}

		div.button-word-cont {
			color: #777777;
		}

		div.button-word-cont.selected {
			color: #222222;
			background-color: #EEEEEE;
		}

		a.button-word-cont:hover {
			background-color: #F8F8F8;
		}
	}
}

div.details-cont {
	div.details-outer {
		margin: 0 1.4em;

		div.title-main {
			font-size: 180%;
			color: #222222;
			padding: 0.4em 0;
			margin-bottom: 0.8em;
			border-bottom: 1px solid #EEEEEE;
		}

		// div.subtitle-main {
		// 	font-size: 110%;
		// 	color: #666666;
		// 	margin-bottom: 1em;
		// }

		// div.pagelinks {
		// 	padding-bottom: 1em;
		// 	border-bottom: 1px solid #EEEEEE;
		// 	margin-bottom: 2em;

		// 	a.button-word-cont:hover {
		// 		background-color: #F8F8F8;
		// 	}
		// }

		// div.section-cont {
		// 	padding: 1.6em 0;

		// 	.title-section {
		// 		font-size: 140%;
		// 		font-weight: bold;
		// 		color: #222222;
		// 		margin-bottom: 1em;
		// 	}

		// 	div.subsection-links {
		// 		border-top: 1px solid #EEEEEE;
		// 		border-bottom: 1px solid #EEEEEE;
		// 		padding: 0.6em 0;
		// 		font-size: 90%;
		// 		margin-bottom: 2em;

		// 		a.button-word-cont {
		// 			color: #3399FF;
		// 			width: 13em;
		// 			text-align: left;
		// 			white-space: nowrap;
		// 			overflow: hidden;
		// 			text-overflow: ellipsis;
		// 		}

		// 		a.button-word-cont:hover {
		// 			background-color: #F8F8F8;
		// 		}
		// 	}

		// 	a.title-section {
		// 		display: block;
		// 	}

		// 	a.title-section:hover {
		// 		text-decoration: none;
		// 	}

		// 	div.subsection-cont {
		// 		margin: 2em 0 4em 2em;
		// 	}

		// 	.title-subsection {
		// 		font-size: 110%;
		// 		font-weight: bold;
		// 		color: #444444;
		// 		margin-bottom: 1em;
		// 	}

		// 	a.title-subsection {
		// 		display: block;
		// 	}

		// 	a.title-subsection:hover {
		// 		text-decoration: none;
		// 	}


		// 	div.function {
		// 		color: #555555;
		// 		font-weight: bold;
		// 		margin: 1.6em 0 1em 0;
		// 		padding-left: 2em;
		// 	}

		// 	div.params-cont {
		// 		padding-left: 3em;
		// 		font-size: 90%;
		// 		color: #555555;
		// 		line-height: 130%;
		// 		margin-bottom: 2em;

		// 		div.param {
		// 			margin: 0.4em 0;
		// 		}

		// 		div.sub-params-cont {
		// 			padding-left: 3em;

		// 			div.sub-param {
		// 				margin: 0.2em 0;
		// 			}
		// 		}
		// 	}

		// 	div.title-codeblock {
		// 		font-size: 90%;
		// 		font-weight: lighter;
		// 		color: #777777;
		// 		margin-top: 2em;
		// 	}

		// 	div.diag-cont {
		// 		margin: 2em auto;
		// 		min-width: 250px;

		// 		div.diag-options-cont {
		// 			font-size: 80%;

		// 			div.label {
		// 				margin: 1em 0 0.2em 0;
		// 				color: #444444;
		// 			}

		// 			div.option {
		// 				select {
		// 					max-width: 100%;
		// 				}
		// 			}
		// 		}
		// 	}

		// 	p {
		// 		color: #444444;
		// 		line-height: 130%;
		// 	}

		// 	div.related-cont {
		// 		margin: 2em 0 2em 2em;
				
		// 		div.title-related {
		// 			font-weight: bold;
		// 			color: #666666;
		// 			margin-bottom: 0.4em;
		// 		}

		// 		div.related-links {
		// 			font-size: 90%;

		// 			a.button-word-cont {
		// 				color: #3399FF;
		// 			}

		// 			a.button-word-cont:hover {
		// 				background-color: #F8F8F8;
		// 			}
		// 		}
		// 	}
		// }

		div.nextpage-cont {
			margin: 1em 0;
			text-align: right;
			font-size: 120%;

			a.button-word-cont {
				font-weight: normal;
			}

			a.button-word-cont:hover {
				background-color: #F8F8F8;
			}
		}
	}
}

#div-body.xl, #div-body.lg, #div-body.md, #div-body.sm {
	div.toc-cont {
		position: absolute;
		left: 0;
		top: 0;
		width: 360px;
		height: 100%;
		overflow: auto;
	}

	div.details-cont {
		border-left: 1px solid #EEEEEE;
		min-height: 40em;
		margin-left: 360px;
	}
}

#div-body.xs {
	div.toc-cont {
		border-bottom: 1px solid #EEEEEE;
		margin-bottom: 2em;
	}
}

// #ul-html-structure {
// 	list-style-type: disc;

// 	li {
// 		padding: 0.2em 0;
// 	}
// }

// span.outer-cont {
// 	color: red;
// }

// span.list-cont {
// 	color: blue;
// }

// span.list-items {
// 	color: green;
// }

// div.diag-outer-cont {
// 	overflow: auto;

// 	div.diag-list-cont {
// 		position: relative;

// 		div.list-item {
// 			div.inner {
// 	            position: relative;
// 	            margin: 0 0.2em;

// 				i {
// 		            position: absolute;
// 		            top: 50%;
// 		            transform: translateY(-50%);
// 		            display: inline-block;
// 		            font-weight: bold;
// 		            padding: 0.5em;
// 		            border-radius: 999px;
// 		            color: #777777;
// 				}

// 				i:hover, i:active {
// 					cursor: pointer;
// 					background: rgba(0, 0, 0, 0.06);
// 				}

// 				i.sort, i.archive {
// 					left: 0;
// 				}

// 				i.delete {
// 					right: 0;
// 				}

// 				div.text {
// 		            margin: 0 4.6em;
// 		            text-align: center;
// 				}
// 			}
// 		}
// 	}

// 	div.diag-list-cont.left-list, div.diag-list-cont.right-list {
// 		overflow-x: hidden;
// 	}
// }

// #div-salespoints-outer-cont {
// 	#div-salespoints-list-cont {
// 		position: relative;
// 		margin-left: 4em;
// 		max-width: 700px;

// 		div.list-item {
// 			position: relative;
// 			max-height: 10em;
// 			overflow: hidden;
			

// 			div.inner-mask-cont {
// 				display: none;
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				width: 100%;
// 				height: 100%;
				
// 				div.inner-mask-outer {
// 					position: relative;
// 					width: 100%;
// 					height: 100%;

// 					span {
// 						position: absolute;
// 						top: 50%;
// 						transform: translateY(-50%);
// 						color: #EEEEEE;
// 						font-size: 110%;
// 					}
// 				}
// 			}

// 			div.inner-mask-cont.left {
// 				background-color: red;

// 				span {
// 					right: 0.4em;
// 				}
// 			}
// 		}

// 		div.list-item.left-item-active, div.list-item.deleting {
// 			div.inner-mask-cont.left {
// 				display: block;
// 			}
// 		}

// 		div.list-item.deleting {
// 			transition: max-height 200ms ease;
// 			max-height: 0;
// 		}

// 		div.sales-point {
// 			background-color: #FFFFFF;
// 			padding: 2em 1em;
// 			cursor: pointer;
// 			max-height: 10em;
// 			transition: max-height 300ms ease;

// 			div.title {
// 				font-size: 120%;
// 				color: #222222;
// 				font-weight: bold;
// 				margin-bottom: 0.4em;
// 			}

// 			div.description {
// 				line-height: 130%;
// 				color: #777777;
// 			}
// 		}

// 		div.sales-point.collapsed {
// 			max-height: 0;
// 		}

// 		div.sales-point.red {
// 			border-left: 14px solid #F56E44;
// 		}

// 		div.sales-point.orange {
// 			border-left: 14px solid #F8951D;
// 		}

// 		div.sales-point.yellow {
// 			border-left: 14px solid #F2DF29;
// 		}

// 		div.sales-point.khaki {
// 			border-left: 14px solid #C6C848;
// 		}

// 		div.sales-point.moss {
// 			border-left: 14px solid #B0CD9D;
// 		}
// 	}

// 	#div-salespoints-list-cont.left-list, #div-salespoints-list-cont.right-list {
// 		overflow-x: hidden;
// 	}
// }

// #div-diag-container-sorting {
// 	max-width: 300px;

// 	#div-diag-outer-cont-sorting {
// 		border: 1px solid red;
// 		height: 300px;

// 		#div-diag-list-cont-sorting {
// 			div.list-item {
// 				margin: 0.4em;
// 				padding: 1em 0;
// 				background-color: #FAFAFA;
// 				border: 1px solid green;
// 				color: green;

// 				div.inner {
// 					div.text {
// 						font-size: 80%;
// 					}
// 				}
// 			}
// 		}
// 	}	
// }

// #div-diag-container-automatic-scrolling {
// 	max-width: 300px;

// 	#div-diag-outer-cont-automatic-scrolling {
// 		border: 1px solid red;
// 		height: 300px;

// 		#div-diag-list-cont-automatic-scrolling {
// 			div.list-item {
// 				margin: 0.4em;
// 				padding: 1em 0;
// 				background-color: #FAFAFA;
// 				border: 1px solid green;
// 				color: green;

// 				div.inner {
// 					div.text {
// 						font-size: 80%;
// 					}
// 				}
// 			}
// 		}
// 	}	
// }

// #div-diag-container-sliding-and-swiping {
// 	max-width: 300px;

// 	#div-diag-outer-cont-sliding-and-swiping {
// 		border: 1px solid red;
// 		height: 300px;

// 		#div-diag-list-cont-sliding-and-swiping {
// 			div.list-item {
// 				margin: 0.4em;
// 				padding: 1em 0;
// 				background-color: #FAFAFA;
// 				border: 1px solid green;
// 				color: green;

// 				div.inner {
// 					div.text {
// 						font-size: 80%;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// #div-diag-container-clone {
// 	max-width: 300px;

// 	#div-diag-outer-cont-clone {
// 		border: 1px solid red;
// 		height: 340px;

// 		#div-diag-list-cont-clone {
// 			div.list-item {
// 				margin: 1.2em;
// 				padding: 1em 0;
// 				background-color: #FAFAFA;
// 				border: 1px solid green;
// 				color: green;

// 				div.inner {
// 					div.text {
// 						font-size: 80%;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// #div-diag-container-masks {
// 	max-width: 300px;

// 	#div-diag-outer-cont-masks {
// 		border: 1px solid red;
// 		height: 300px;

// 		#div-diag-list-cont-masks {
// 			div.list-item {
// 				margin: 0.4em;
// 				padding: 1em 0;
// 				background-color: #FAFAFA;
// 				border: 1px solid green;
// 				color: green;

// 				div.inner {
// 					div.text {
// 						font-size: 80%;
// 					}
// 				}
// 			}

// 			div.left-mask, div.right-mask {
// 				div.label-cont {
// 					position: relative;
// 					height: 100%;

// 					span {
// 						position: absolute;
// 						top: 50%;
// 						transform: translateY(-50%);
// 						color: #F8F8F8;
// 						font-size: 80%;
// 					}
// 				}
// 			}

// 			div.left-mask {
// 				div.label-cont {
// 					span {
// 						right: 0.4em;
// 					}
// 				}
// 			}

// 			div.right-mask {
// 				div.label-cont {
// 					span {
// 						left: 0.4em;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// #div-diag-container-setup {
// 	max-width: 400px;

// 	#div-diag-outer-cont-setup {
// 		border: 10px solid red;
// 		height: 400px;

// 		#div-diag-list-cont-setup {
// 			margin: 1em;
// 			border: 10px solid blue;

// 			div.list-item {
// 				margin: 1em;
// 				padding: 1em 0;
// 				background-color: #FFFFFF;
// 				border: 5px solid green;
// 				color: green;
// 				text-align: center;
// 			}
// 		}
// 	}
// }