html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #FFFFFF;
}

a {
  color: #3366CC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.invisible {
  visibility: hidden;
}

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.button-word-cont {
  display: inline-block;
  padding: 0.6em 1em;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

a.button-word-cont {
  display: inline-block;
  text-decoration: none;
}

.button-word-cont.grey {
  color: #666666;
  background-color: #EEEEEE;
  -webkit-box-shadow: 0 1px 4px 0 #CCCCCC;
          box-shadow: 0 1px 4px 0 #CCCCCC;
}

.button-word-cont.grey.active {
  color: #3366CC;
  background-color: #EEEEEE;
  -webkit-box-shadow: 0 1px 4px 0 #CCCCCC;
          box-shadow: 0 1px 4px 0 #CCCCCC;
}

.button-word-cont.grey:hover {
  cursor: pointer;
  background-color: #F2F2F2;
  -webkit-box-shadow: 0 1px 4px 0 #BBBBBB;
          box-shadow: 0 1px 4px 0 #BBBBBB;
}

.button-word-cont.darkblue {
  color: #FFFFFF;
  background-color: #003182;
  -webkit-box-shadow: 0 1px 4px 0 #BBBBBB;
          box-shadow: 0 1px 4px 0 #BBBBBB;
}

.button-word-cont.darkblue:hover {
  cursor: pointer;
  background-color: #003999;
  -webkit-box-shadow: 0 1px 4px 0 #AAAAAA;
          box-shadow: 0 1px 4px 0 #AAAAAA;
}

.textlink {
  font-weight: bold;
  color: #3366CC;
}

.textlink:hover {
  cursor: pointer;
  text-decoration: underline;
}

a.menubtn {
  display: inline-block;
  padding: 0.3em;
  border-radius: 999px;
}

a.menubtn:hover {
  text-decoration: none;
}

#div-siteheader div.siteheader-outer {
  position: relative;
  padding: 20px 16px;
}

#div-siteheader div.siteheader-outer div.links-cont {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16px;
  font-size: 90%;
}

#div-siteheader div.siteheader-outer div.menubtn-cont {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16px;
  font-size: 200%;
}

#div-pagemask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
  z-index: 10000;
}

#div-pagemask.show {
  display: block;
  opacity: 0;
}

#div-pagemask.show.revealed {
  opacity: 1;
}

#div-pagemenu-cont {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 80%;
  -webkit-box-shadow: -5px 0 14px rgba(0, 0, 0, 0.25);
          box-shadow: -5px 0 14px rgba(0, 0, 0, 0.25);
  -webkit-transition: left 200ms ease;
  transition: left 200ms ease;
  z-index: 10001;
}

#div-pagemenu-cont div.menu-outer div.menuclose-cont {
  text-align: right;
  padding: 20px 16px;
  font-size: 200%;
}

#div-pagemenu-cont div.menu-outer div.links-cont {
  margin: 0 16px;
}

#div-pagemenu-cont.show {
  display: block;
}

#div-pagemenu-cont.show.revealed {
  left: 20%;
}

#div-sitefooter {
  background-color: #EEEEEE;
}

#div-sitefooter div.sitefooter-outer {
  padding: 30px 0;
}

#div-sitefooter div.sitefooter-outer div.col-cont a {
  display: block;
  font-size: 85%;
  border-radius: 4px;
}

#div-sitefooter div.sitefooter-outer div.col-cont a:hover, #div-sitefooter div.sitefooter-outer div.col-cont a:active {
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
}

#pageWrapper.xl #div-siteheader div.links-cont, #pageWrapper.lg #div-siteheader div.links-cont, #pageWrapper.md #div-siteheader div.links-cont, #pageWrapper.sm #div-siteheader div.links-cont {
  display: block;
}

#pageWrapper.xl #div-siteheader div.menubtn-cont, #pageWrapper.lg #div-siteheader div.menubtn-cont, #pageWrapper.md #div-siteheader div.menubtn-cont, #pageWrapper.sm #div-siteheader div.menubtn-cont {
  display: none;
}

#pageWrapper.xl div.menu-outer, #pageWrapper.lg div.menu-outer, #pageWrapper.md div.menu-outer, #pageWrapper.sm div.menu-outer {
  text-align: center;
}

#pageWrapper.xl div.menu-outer div.links-cont a, #pageWrapper.lg div.menu-outer div.links-cont a, #pageWrapper.md div.menu-outer div.links-cont a, #pageWrapper.sm div.menu-outer div.links-cont a {
  width: 40%;
  margin: 0.8em 0.4em;
}

#pageWrapper.xl #div-sitefooter div.sitefooter-outer, #pageWrapper.lg #div-sitefooter div.sitefooter-outer, #pageWrapper.md #div-sitefooter div.sitefooter-outer, #pageWrapper.sm #div-sitefooter div.sitefooter-outer {
  min-width: 800px;
  max-width: 1000px;
  margin: 0 auto;
}

#pageWrapper.xl #div-sitefooter div.sitefooter-outer div.col-cont, #pageWrapper.lg #div-sitefooter div.sitefooter-outer div.col-cont, #pageWrapper.md #div-sitefooter div.sitefooter-outer div.col-cont, #pageWrapper.sm #div-sitefooter div.sitefooter-outer div.col-cont {
  float: left;
  width: 25%;
}

#pageWrapper.xl #div-sitefooter div.sitefooter-outer div.col-cont a, #pageWrapper.lg #div-sitefooter div.sitefooter-outer div.col-cont a, #pageWrapper.md #div-sitefooter div.sitefooter-outer div.col-cont a, #pageWrapper.sm #div-sitefooter div.sitefooter-outer div.col-cont a {
  padding: 0.6em 0.8em;
}

#pageWrapper.xs #div-siteheader div.links-cont {
  display: none;
}

#pageWrapper.xs #div-siteheader div.menubtn-cont {
  display: block;
}

#pageWrapper.xs div.menu-outer div.links-cont a {
  display: block;
  margin: 1.2em 0;
}

#pageWrapper.xs #div-sitefooter div.sitefooter-outer {
  margin: 0 16px;
}

#pageWrapper.xs #div-sitefooter div.sitefooter-outer div.col-cont a {
  padding: 0.8em;
  margin: 0.6em 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.button-word-cont.hlink {
  color: #003182;
}

.button-word-cont.hlink:hover {
  background: rgba(0, 0, 0, 0.05);
}

.button-word-cont.auth {
  color: #F8F8F8;
  background-color: #003182;
  -webkit-box-shadow: 0 1px 4px 0 #AAAAAA;
          box-shadow: 0 1px 4px 0 #AAAAAA;
}

.button-word-cont.auth:hover {
  background-color: #003999;
  -webkit-box-shadow: 0 1px 4px 0 #999999;
          box-shadow: 0 1px 4px 0 #999999;
}

a.menubtn {
  color: #003182;
}

a.menubtn:active {
  background: rgba(0, 0, 0, 0.06);
}

#div-pagemenu-cont {
  background-color: #FFFFFF;
}

#div-pagemenu-cont div.menu-outer div.menuclose-cont {
  color: #003182;
}

#div-pagemenu-cont div.menu-outer div.links-cont a.hlink {
  background: rgba(0, 0, 0, 0.025);
}

div.sitecont-outer {
  position: relative;
}

div.toc-cont div.toc-outer {
  margin: 0 1.4em;
}

div.toc-cont div.toc-outer div.title-main {
  font-weight: bold;
  font-size: 110%;
  color: #222222;
  padding: 0.4em 0;
  margin-bottom: 0.8em;
  border-bottom: 1px solid #EEEEEE;
}

div.toc-cont div.toc-outer div.subtitle-main {
  font-size: 110%;
  color: #666666;
  margin-bottom: 1em;
}

div.toc-cont div.toc-outer .button-word-cont {
  display: block;
  text-align: left;
  margin: 0.2em 0;
}

div.toc-cont div.toc-outer div.button-word-cont {
  color: #777777;
}

div.toc-cont div.toc-outer div.button-word-cont.selected {
  color: #222222;
  background-color: #EEEEEE;
}

div.toc-cont div.toc-outer a.button-word-cont:hover {
  background-color: #F8F8F8;
}

div.details-cont div.details-outer {
  margin: 0 1.4em;
}

div.details-cont div.details-outer div.title-main {
  font-size: 180%;
  color: #222222;
  padding: 0.4em 0;
  margin-bottom: 0.8em;
  border-bottom: 1px solid #EEEEEE;
}

div.details-cont div.details-outer div.nextpage-cont {
  margin: 1em 0;
  text-align: right;
  font-size: 120%;
}

div.details-cont div.details-outer div.nextpage-cont a.button-word-cont {
  font-weight: normal;
}

div.details-cont div.details-outer div.nextpage-cont a.button-word-cont:hover {
  background-color: #F8F8F8;
}

#pageWrapper.xl div.toc-cont, #pageWrapper.lg div.toc-cont, #pageWrapper.md div.toc-cont, #pageWrapper.sm div.toc-cont {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 100%;
  overflow: auto;
}

#pageWrapper.xl div.details-cont, #pageWrapper.lg div.details-cont, #pageWrapper.md div.details-cont, #pageWrapper.sm div.details-cont {
  border-left: 1px solid #EEEEEE;
  min-height: 40em;
  margin-left: 360px;
}

#pageWrapper.xs div.toc-cont {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 2em;
}

div.details-cont div.details-outer div.section-cont {
  padding: 1.6em 0;
}

div.details-cont div.details-outer div.section-cont .title-section {
  font-size: 140%;
  font-weight: bold;
  color: #222222;
  margin-bottom: 1em;
}

div.details-cont div.details-outer div.section-cont p {
  color: #444444;
  line-height: 130%;
}

div.details-cont div.details-outer div.section-cont table tr td.heading {
  font-weight: bold;
  line-height: 130%;
  color: #222222;
}

div.details-cont div.details-outer div.section-cont table tr td.detail {
  color: #666666;
  line-height: 130%;
}

div.details-cont div.details-outer div.section-cont table tr.grey td.detail {
  background-color: #FBFBFB;
}

div.details-cont div.details-outer div.section-cont table.browser-support tr td.heading {
  padding: 1em 8px;
}

div.details-cont div.details-outer div.section-cont table.browser-support tr td.detail {
  padding: 0.8em 8px;
}

div.details-cont div.details-outer div.section-cont table.upcoming-features tr td {
  padding: 1.2em 20px;
}

#pageWrapper.xl div.section-cont table.browser-support tr td, #pageWrapper.lg div.section-cont table.browser-support tr td, #pageWrapper.md div.section-cont table.browser-support tr td, #pageWrapper.sm div.section-cont table.browser-support tr td {
  width: 14em;
}

#pageWrapper.xl div.section-cont table.upcoming-features tr td.feature, #pageWrapper.lg div.section-cont table.upcoming-features tr td.feature, #pageWrapper.md div.section-cont table.upcoming-features tr td.feature, #pageWrapper.sm div.section-cont table.upcoming-features tr td.feature {
  width: 30em;
}

#pageWrapper.xl div.section-cont table.upcoming-features tr td.priority, #pageWrapper.lg div.section-cont table.upcoming-features tr td.priority, #pageWrapper.md div.section-cont table.upcoming-features tr td.priority, #pageWrapper.sm div.section-cont table.upcoming-features tr td.priority {
  width: 8em;
}

#pageWrapper.xl div.section-cont table.upcoming-features tr td.commenced, #pageWrapper.lg div.section-cont table.upcoming-features tr td.commenced, #pageWrapper.md div.section-cont table.upcoming-features tr td.commenced, #pageWrapper.sm div.section-cont table.upcoming-features tr td.commenced {
  width: 8em;
}

#pageWrapper.xs div.section-cont table.browser-support tr td.notes {
  display: none;
}
