html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #FAFAFA;
}

a {
  color: #3366CC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.invisible {
  visibility: hidden;
}

#div-scroll-cont {
  position: relative;
  height: 800px;
  border: 1px solid #AAAAAA;
  overflow: auto;
}

#div-scroll-cont #div-list-cont {
  position: relative;
}

#div-scroll-cont #div-list-cont div.listitem-cont {
  background-color: #FFFFFF;
  border-bottom: 1px solid #F4F4F4;
}

#div-scroll-cont #div-list-cont div.listitem-cont div.listitem-outer {
  position: relative;
}

#div-scroll-cont #div-list-cont div.listitem-cont.sort-item-active {
  visibility: hidden;
  opacity: 0;
}

#div-scroll-cont #div-list-cont div.listitem-cont.clone-sort {
  -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 14px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
  width: 100%;
}

#div-scroll-cont.xl, #div-scroll-cont.lg, #div-scroll-cont.md, #div-scroll-cont.sm {
  max-width: 600px;
  margin: 0 auto;
}

#div-scroll-cont.xl div.listitem-cont, #div-scroll-cont.lg div.listitem-cont, #div-scroll-cont.md div.listitem-cont, #div-scroll-cont.sm div.listitem-cont {
  padding: 1.8em 0;
}

#div-scroll-cont.xl div.listitem-cont div.listitem-outer, #div-scroll-cont.lg div.listitem-cont div.listitem-outer, #div-scroll-cont.md div.listitem-cont div.listitem-outer, #div-scroll-cont.sm div.listitem-cont div.listitem-outer {
  margin: 0 0.8em;
}

#div-scroll-cont.xl div.listitem-cont div.listitem-outer i, #div-scroll-cont.lg div.listitem-cont div.listitem-outer i, #div-scroll-cont.md div.listitem-cont div.listitem-outer i, #div-scroll-cont.sm div.listitem-cont div.listitem-outer i {
  display: inline-block;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 999px;
  color: #DDDDDD;
}

#div-scroll-cont.xl div.listitem-cont div.listitem-outer i:hover, #div-scroll-cont.lg div.listitem-cont div.listitem-outer i:hover, #div-scroll-cont.md div.listitem-cont div.listitem-outer i:hover, #div-scroll-cont.sm div.listitem-cont div.listitem-outer i:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.06);
}

#div-scroll-cont.xl div.listitem-cont div.listitem-outer i.sort, #div-scroll-cont.lg div.listitem-cont div.listitem-outer i.sort, #div-scroll-cont.md div.listitem-cont div.listitem-outer i.sort, #div-scroll-cont.sm div.listitem-cont div.listitem-outer i.sort {
  left: 0;
}

#div-scroll-cont.xl div.listitem-cont div.listitem-outer i.archive, #div-scroll-cont.lg div.listitem-cont div.listitem-outer i.archive, #div-scroll-cont.md div.listitem-cont div.listitem-outer i.archive, #div-scroll-cont.sm div.listitem-cont div.listitem-outer i.archive {
  left: 1.6em;
}

#div-scroll-cont.xl div.listitem-cont div.listitem-outer i.delete, #div-scroll-cont.lg div.listitem-cont div.listitem-outer i.delete, #div-scroll-cont.md div.listitem-cont div.listitem-outer i.delete, #div-scroll-cont.sm div.listitem-cont div.listitem-outer i.delete {
  right: 0;
}

#div-scroll-cont.xl div.listitem-cont div.listitem-outer div.text, #div-scroll-cont.lg div.listitem-cont div.listitem-outer div.text, #div-scroll-cont.md div.listitem-cont div.listitem-outer div.text, #div-scroll-cont.sm div.listitem-cont div.listitem-outer div.text {
  margin: 0 2em 0 4em;
}

#div-scroll-cont.xl div.listitem-cont:hover div.listitem-outer i, #div-scroll-cont.lg div.listitem-cont:hover div.listitem-outer i, #div-scroll-cont.md div.listitem-cont:hover div.listitem-outer i, #div-scroll-cont.sm div.listitem-cont:hover div.listitem-outer i {
  color: #000000;
}

#div-list-cont.xs div.listitem-cont {
  padding: 1em;
}

#div-list-cont.xs div.listitem-cont div.listitem-outer i {
  display: none;
}
