html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #FAFAFA;
}

a {
  color: #3366CC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.invisible {
  visibility: hidden;
}

div.button-icon-cont {
  display: inline-block;
  position: relative;
}

div.button-icon-cont svg {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div.button-icon-cont i {
  position: relative;
}

div.button-icon-cont:hover {
  cursor: pointer;
}

div.button-icon-cont:hover svg {
  visibility: visible;
}

#div-list-cont {
  position: relative;
}

#div-list-cont div.listitem-cont {
  background-color: #FFFFFF;
  border-bottom: 1px solid #F4F4F4;
}

#div-list-cont div.listitem-cont div.listitem-outer {
  position: relative;
}

#div-list-cont div.listitem-cont div.listitem-outer div.button-icon-cont i {
  color: #DDDDDD;
}

#div-list-cont div.listitem-cont:hover div.listitem-outer div.button-icon-cont i {
  color: #000000;
}

#div-list-cont.xl, #div-list-cont.lg, #div-list-cont.md, #div-list-cont.sm {
  max-width: 600px;
  margin: 0 auto;
}

#div-list-cont.xl div.listitem-cont, #div-list-cont.lg div.listitem-cont, #div-list-cont.md div.listitem-cont, #div-list-cont.sm div.listitem-cont {
  padding: 1.8em 0.8em;
}

#div-list-cont.xl div.listitem-cont div.listitem-outer i, #div-list-cont.lg div.listitem-cont div.listitem-outer i, #div-list-cont.md div.listitem-cont div.listitem-outer i, #div-list-cont.sm div.listitem-cont div.listitem-outer i {
  display: inline-block;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 999px;
  color: #DDDDDD;
}

#div-list-cont.xl div.listitem-cont div.listitem-outer i:hover, #div-list-cont.lg div.listitem-cont div.listitem-outer i:hover, #div-list-cont.md div.listitem-cont div.listitem-outer i:hover, #div-list-cont.sm div.listitem-cont div.listitem-outer i:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.07);
}

#div-list-cont.xl div.listitem-cont div.listitem-outer i.sort, #div-list-cont.lg div.listitem-cont div.listitem-outer i.sort, #div-list-cont.md div.listitem-cont div.listitem-outer i.sort, #div-list-cont.sm div.listitem-cont div.listitem-outer i.sort {
  left: 0;
}

#div-list-cont.xl div.listitem-cont div.listitem-outer i.archive, #div-list-cont.lg div.listitem-cont div.listitem-outer i.archive, #div-list-cont.md div.listitem-cont div.listitem-outer i.archive, #div-list-cont.sm div.listitem-cont div.listitem-outer i.archive {
  left: 1.8em;
}

#div-list-cont.xl div.listitem-cont div.listitem-outer i.delete, #div-list-cont.lg div.listitem-cont div.listitem-outer i.delete, #div-list-cont.md div.listitem-cont div.listitem-outer i.delete, #div-list-cont.sm div.listitem-cont div.listitem-outer i.delete {
  right: 0;
}

#div-list-cont.xl div.listitem-cont div.listitem-outer div.text, #div-list-cont.lg div.listitem-cont div.listitem-outer div.text, #div-list-cont.md div.listitem-cont div.listitem-outer div.text, #div-list-cont.sm div.listitem-cont div.listitem-outer div.text {
  margin: 0 2em 0 4em;
}

#div-list-cont.xl div.listitem-cont:hover div.listitem-outer i, #div-list-cont.lg div.listitem-cont:hover div.listitem-outer i, #div-list-cont.md div.listitem-cont:hover div.listitem-outer i, #div-list-cont.sm div.listitem-cont:hover div.listitem-outer i {
  color: #000000;
}

#div-list-cont.xs div.listitem-cont {
  padding: 1em;
}
