#outerCont {
  border: 1px solid #000000;
  width: 400px;
  height: 400px;
  overflow: auto;
}

#outerCont #listCont {
  position: relative;
}

#outerCont #listCont .listItem {
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  padding: 1.5em 1em;
}

#outerCont #listCont .listItem div.cont {
  border: 1px solid #000000;
  padding: 1em;
}

#outerCont #listCont .listItem div.cont div.outer {
  width: 3em;
  background-color: #EEEEEE;
}
